@font-face {
  font-family: 'Uni Sans Heavy';
  src: url('res/Uni Sans Heavy.otf');
}

div {
  position: relative;
  font-size: 42px;
}

span {
  font-family: 'Uni Sans Heavy';
  color: #124755;
}

#divBluePrimary {
  left: 385px;
  top: 155px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 74px 74px 0 0;
  border-color: #007bff transparent transparent transparent;
}

#divBlueSecondary {
  left: 385px;
  top: 155px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 74px 74px;
  border-color: transparent transparent #007bff transparent;
}

#divOrangePrimary {
  left: 1808px;
  top: 155px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 74px 74px 0 0;
  border-color: #007bff transparent transparent transparent;
}

#divOrangeSecondary {
  left: 1808px;
  top: 155px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 74px 74px;
  border-color: transparent transparent #007bff transparent;
}

#divCaster1 {
  text-align: center;
  left: 499px;
  top: 712px;
  width: 456px;
  height: 61px;
  line-height: 61px;
}

#divCaster2 {
  text-align: center;
  left: 965px;
  top: 712px;
  width: 456px;
  height: 61px;
  line-height: 61px;
}

#divBlueName {
  text-align: center;
  left: 55px;
  top: 155px;
  width: 320px;
  height: 61px;
  line-height: 61px;
}

#divBlueP1 {
  text-align: center;
  left: 55px;
  top: 237px;
  width: 404px;
  height: 61px;
  line-height: 61px;
}

#divBlueP2 {
  text-align: center;
  left: 55px;
  top: 319px;
  width: 404px;
  height: 61px;
  line-height: 61px;
}

#divBlueP3 {
  text-align: center;
  left: 55px;
  top: 401px;
  width: 404px;
  height: 61px;
  line-height: 61px;
}

#divBlueP4 {
  text-align: center;
  left: 55px;
  top: 483px;
  width: 404px;
  height: 61px;
  line-height: 61px;
}

#divBlueP5 {
  text-align: center;
  left: 55px;
  top: 565px;
  width: 404px;
  height: 61px;
  line-height: 61px;
}

#divOrangeName {
  text-align: center;
  left: 1478px;
  top: 155px;
  width: 320px;
  height: 61px;
  line-height: 61px;
}

#divOrangeP1 {
  text-align: center;
  left: 1478px;
  top: 237px;
  width: 404px;
  height: 61px;
  line-height: 61px;
}

#divOrangeP2 {
  text-align: center;
  left: 1478px;
  top: 319px;
  width: 404px;
  height: 61px;
  line-height: 61px;
}

#divOrangeP3 {
  text-align: center;
  left: 1478px;
  top: 401px;
  width: 404px;
  height: 61px;
  line-height: 61px;
}

#divOrangeP4 {
  text-align: center;
  left: 1478px;
  top: 483px;
  width: 404px;
  height: 61px;
  line-height: 61px;
}

#divOrangeP5 {
  text-align: center;
  left: 1478px;
  top: 565px;
  width: 404px;
  height: 61px;
  line-height: 61px;
}
