@font-face {
  font-family: 'Uni Sans Heavy';
  src: url('res/Uni Sans Heavy.otf');
}

span {
  font-family: 'Uni Sans Heavy';
  color: #124755;
  position: absolute;
}

span.blueTeam {
  font-size: 42px;
  left: 60px;
}

span.orangeTeam {
  font-size: 42px;
  left: 1490px;
}

#caster1 {
  font-size: 42px;
  left: 550px;
  top: 700px;
}

#caster2 {
  font-size: 42px;
  left: 1000px;
  top: 700px;
}

#blueName {
  top: 150px;
  font-size: 50px;
}

#orangeName {
  top: 150px;
  font-size: 50px;
}

#blueP1 {
  top: 260px;
}

#blueP2 {
  top: 340px;
}

#blueP3 {
  top: 420px;
}

#blueP4 {
  top: 500px;
}

#blueP5 {
  top: 580px;
}

#orangeP1 {
  top: 260px;
}

#orangeP2 {
  top: 340px;
}

#orangeP3 {
  top: 420px;
}

#orangeP4 {
  top: 500px;
}

#orangeP5 {
  top: 580px;
}
