@font-face {
  font-family: 'Uni Sans Heavy';
  src: url('res/Uni Sans Heavy.otf');
}

div {
  text-align:center
  position: absolute;
}

#divCaster1 {
  left: 550px;
  top: 700px;
  width: 200px;
}

#divCaster2 {
  left: 1000px;
  top: 700px;
  width: 200px;
}

span {
  font-family: 'Uni Sans Heavy';
  color: #124755;
}
