@font-face {
  font-family: 'Uni Sans Heavy';
  src: url('../res/Uni Sans Heavy.otf');
}

@font-face {
  font-family: 'Uni Sans SemiBold Italic';
  src: url('../res/Uni Sans SemiBold Italic.otf');
}

#view-box {
  width: 1920px;
  height: 1080px;
  margin: 0;
  padding: 0;
}

.teams-container {
  position: absolute;
  right: 0;
  top: 500px;
  height: 188px;
  width: 588px;
  border-radius: 7px 0 0 7px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}

.team-container {
  position: relative;
  height: 94px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.team-name {
  margin-right: 106px;
  font-family: "Uni Sans Heavy";
  font-size: 67px;
}

.team-standing {
  position: absolute;
  right: 12px;
  top: 44px;
  font-family: "Uni Sans SemiBold Italic";
  font-size: 39px;
}