@font-face {
  font-family: 'Uni Sans Heavy';
  src: url('../res/Uni Sans Heavy.otf');
}

:root {
  --main-container-top-indent: 52px;
  --main-container-horizontal-indent: 76px;
  --main-container-bottom-indent: 104px;
  --squiggle-shift: 295px;
  --mask-shift: 310px;
}

#divpanel {
  font-family: 'Uni Sans Heavy';
  width: 1920px;
  height: 1080px;
}

.main-container {
  position: absolute;
  width: calc(1920px - (2 * var(--main-container-horizontal-indent)));
  height: calc(1080px - var(--main-container-top-indent) - var(--main-container-bottom-indent));
  margin: var(--main-container-top-indent) var(--main-container-horizontal-indent) var(--main-container-bottom-indent);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
}

.caster-windows {
  visibility: hidden;
  background-color: yellow;
  width: 100%;
  height: 502px;
  display: flex;
  justify-content: space-evenly;
  align-items: stretch;
}

.caster-window-left {
  background-color: #222222;
  margin: 6px 3px 6px 6px;
  flex: 1;
}

.caster-window-right {
  background-color: #222222;
  margin: 6px 6px 6px 3px;
  flex: 1;
}

.bottom-panels {
  margin-top: 40px;
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

.score-card {
  background-color: blueviolet;
  border: 1px solid black;
  width: 434px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
}

.score-card-team-name {
  font-size: 64px;
  margin-left: 10px;
  padding-top: 11px;
}

.score-card-team-wins {
  font-size: 64px;
  margin-right: 15px;
  padding-top: 11px;
  z-index: 50;
}

.score_card_team_mask {
  position: absolute;
  left: var(--mask-shift);
  z-index: 25;
}

.blue-team-header {
  background-color: yellow;
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#blue-team-squiggle {
  position: absolute;
  left: var(--squiggle-shift);
}

.game-headers {
  background-color: #282828;
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.game-header {
  font-size: 26px;
  color: white;
  padding-top: 3px;
  width: 45px;
  text-align: center;
}

.game-score {
  font-size: 44px;
  color: black;
  padding-top: 3px;
  width: 45px;
  text-align: center;
}

.blue-team-scores {
  background-color: #BBBDBF;
  height: 72px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.orange-team-scores {
  background-color: #A6A8AB;
  height: 72px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.best-of-series {
  background-color: #0F0F0F;
  color: white;
  font-size: 26px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.best-of-series-text {
  padding-top: 3px;
}

.orange-team-header {
  background-color: blue;
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#orange-team-squiggle {
  position: absolute;
  left: var(--squiggle-shift);
}

.team-cards {
  background-color: brown;
  border: 1px solid black;
  width: 1290px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
}

.blue-team-card {
  background-color: yellow;
  flex: 1;
}

.blue-team-name {
  height: 114px;
}

.blue-team-name-text {
  font-size: 108px;
  padding-top: 5px;
  margin-left: 20px;
}

.blue-team-separator {
  background-color: purple;
  height: 11px;
}

.blue-team-players {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: stretch;
  padding-left: 45px;
  padding-top: 15px;
}

.orange-team-card {
  background-color: blue;
  flex: 1;
}

.orange-team-name {
  height: 114px;
  display: flex;
  justify-content: flex-end;
}

.orange-team-name-text {
  font-size: 108px;
  padding-top: 5px;
  margin-right: 20px;
}

.orange-team-separator {
  background-color: red;
  height: 11px;
}

.orange-team-players {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-end;
  padding-right: 45px;
  padding-top: 15px;
}

.player-name {
  font-size: 68px;
}