@font-face {
  font-family: 'Uni Sans Heavy';
  src: url('../res/Uni Sans Heavy.otf');
}

div {
  position: relative;
  font-size: 30px;
}

span {
  font-family: 'Uni Sans Heavy';
  color: #124755;
}

#divBlueName {
  text-align: center;
  left: 64px;
  top: 100px;
  width: 233px;
  height: 44px;
  line-height: 44px;
}

#divOrangeName {
  text-align: center;
  left: 64px;
  top: 159px;
  width: 233px;
  height: 44px;
  line-height: 44px;
}

#divBluePrimary {
  left: 302px;
  top: 100px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 53px 53px 0 0;
  border-color: transparent transparent transparent transparent;
  border-top-color: #007bff;
}

#divBlueSecondary {
  left: 302px;
  top: 100px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 53px 53px;
  border-color: transparent transparent #fff200 transparent;
}

#divOrangePrimary {
  left: 302px;
  top: 159px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 53px 53px 0 0;
  border-color: #007bff transparent transparent transparent;
}

#divOrangeSecondary {
  left: 302px;
  top: 159px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 53px 53px;
  border-color: transparent transparent #fff200 transparent;
}

#blueTeamPrimary {
  left: 55px;
  top: 100px;
  width: 6px;
  height: 53px;
  background-color: white;
}

#orangeTeamPrimary {
  left: 55px;
  top: 159px;
  width: 6px;
  height: 53px;
  background-color: white;
}
