@font-face {
  font-family: 'Uni Sans Heavy';
  src: url('../res/Uni Sans Heavy.otf');
}

:root {
  --scorebug-top-offset: 66px;
  --scorebug-left-offset: 65px;

  --scorebug-team-bar-height: 57px;
  --scorebug-team-bar-width: 310px;
  --scorebug-team-mask-left-offset: 221px;
  --scorebug-team-mask-top-offset: -1px;
  --scorebug-team-separator-top-offset: 0px;
  --scorebug-team-separator-left-offset: 211px;
  --scorebug-bottom-height: 29px;
  --scorebug-bottom-wall-offset: 40px;

  --scorebug-team-font-size: 28pt;
  --scorebug-bottom-font-size: 16pt;

  --scorebug-team-name-width: 225px;
  --scorebug-team-wins-width: 40px;

  /*
  --scorebug-font-vertical-offset: 7px;
  --scorebug-bottom-font-vertical-offset: 3px;
  */
  
  --scorebug-wins-right-offset: 3px;
}

#divpanel > * {
  margin: 0;
  padding: 0;
  position: absolute;
}

div {
  position: relative;
}

#home-team-box {
  left: var(--scorebug-left-offset);
  top: var(--scorebug-top-offset);
  width: var(--scorebug-team-bar-width);
  height: var(--scorebug-team-bar-height);
}

#away-team-box {
  left: var(--scorebug-left-offset);
  top: calc(var(--scorebug-top-offset) + var(--scorebug-team-bar-height));
  width: var(--scorebug-team-bar-width);
  height: var(--scorebug-team-bar-height);
}

#scorebug-bar-masks-home {
  z-index: 50;
  left: calc(var(--scorebug-left-offset) + var(--scorebug-team-mask-left-offset));
  top: calc(var(--scorebug-top-offset) + var(--scorebug-team-separator-top-offset) + var(--scorebug-team-mask-top-offset));
}

#scorebug-bar-masks-away {
  z-index: 50;
  left: calc(var(--scorebug-left-offset) + var(--scorebug-team-mask-left-offset));
  top: calc(var(--scorebug-top-offset) + var(--scorebug-team-bar-height) + var(--scorebug-team-mask-top-offset));
}

#home-team-separator {
  z-index: 100;
  left: calc(var(--scorebug-left-offset) + var(--scorebug-team-separator-left-offset));
  top: calc(var(--scorebug-top-offset) + var(--scorebug-team-separator-top-offset));
}

#away-team-separator {
  z-index: 100;
  left: calc(var(--scorebug-left-offset) + var(--scorebug-team-separator-left-offset));
  top: calc(var(--scorebug-top-offset) + var(--scorebug-team-bar-height) + var(--scorebug-team-separator-top-offset));
}

#blue-team-div {
  font-family: 'Uni Sans Heavy';
  left: var(--scorebug-left-offset);
  top: var(--scorebug-top-offset);
  width: var(--scorebug-team-bar-width);
  height: var(--scorebug-team-bar-height);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#divBlueName {
  font-size: var(--scorebug-team-font-size);
  padding-left: 15px;
  padding-top: var(--scorebug-font-vertical-offset);
  width: var(--scorebug-team-name-width);
}

#divBlueWins {
  font-size: 32pt;
  text-align: center;
  margin-right: var(--scorebug-wins-right-offset);
  padding-top: var(--scorebug-font-vertical-offset);
  width: var(--scorebug-team-wins-width);
  z-index: 200;
}

#orange-team-div {
  font-family: 'Uni Sans Heavy';
  left: var(--scorebug-left-offset);
  top: calc(var(--scorebug-top-offset) + var(--scorebug-team-bar-height));
  width: var(--scorebug-team-bar-width);
  height: var(--scorebug-team-bar-height);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#divOrangeName {
  font-size: var(--scorebug-team-font-size);
  padding-left: 15px;
  padding-top: var(--scorebug-font-vertical-offset);
  width: var(--scorebug-team-name-width);
}

#divOrangeWins {
  font-size: 32pt;
  text-align: center;
  margin-right: var(--scorebug-wins-right-offset);
  padding-top: var(--scorebug-font-vertical-offset);
  width: var(--scorebug-team-wins-width);
  z-index: 200;
}

#scorebug-bottom-div {
  font-family: 'Uni Sans Heavy';
  font-size: var(--scorebug-bottom-font-size);
  left: var(--scorebug-left-offset);
  top: calc(var(--scorebug-top-offset) + (2 * var(--scorebug-team-bar-height)));
  width: var(--scorebug-team-bar-width);
  height: var(--scorebug-bottom-height);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#divGameNumber {
  color: white;
  padding-top: var(--scorebug-bottom-font-vertical-offset);
  padding-left: var(--scorebug-bottom-wall-offset);
}

#divSeriesLength {
  color: white;
  padding-top: var(--scorebug-bottom-font-vertical-offset);
  padding-right: var(--scorebug-bottom-wall-offset);
}