@font-face {
  font-family: 'Source Sans Pro', sans-serif;
  src: url('../res/Source Sans Pro Bold.ttf');
}

/* Prevents the padding from increasing?*/
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
     box-sizing: border-box;
}

div {
  position: relative;
  font-size: 34px;
}

span {
  font-family: 'Source Sans Pro Bold';
  color: white;
}

#divTextScroll {
  left: 66px;
  top: 1046px;
  width: 1674px;
  height: 34px;
  line-height: 34px;
}

.marquee {
  margin: 0 auto;
  white-space: nowrap;
  overflow: hidden;
  position: absolute;
  width: 100%;
}

.marquee span {
  display: inline-block;
  padding-left: 100%;
  animation: marquee 20s linear infinite;
}

.marquee2 span {
  animation-delay: 20s;
}

@keyframes marquee {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}
